* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

body {
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    height: 100%;
    cursor: default;
    background-image: linear-gradient(to bottom, #009688 0px 5em, #d7dbd6 0px 100%);


    .container {
        display: flex;
        width: (100% / 1.2);
        height: (100% / 1.1);
        background-color: #fafafa;
        overflow: hidden;

        .sidebar, .main {
            display: flex;
            flex-direction: column;

            .topbar {
                background-color: #eaeaea;
            }

            .content {
                flex-grow: 1;
            }
        }

        .sidebar {
            
            .topbar {
                display: flex;
                align-items: center;
                border-right: 0.1em solid #dbdbdb;

                > * {
                    padding: 0.2em 0.4em;
                }

                .user {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;

                    > * {
                        margin: 0 0.2em;
                        cursor: pointer;
                    }

                    .avatar {
                        flex-shrink: 0;
                        width: 2.5em;
                        height: 2.5em;
                        overflow: hidden;
                        border-radius: 100%;
                        margin: 0.25em;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .name {
                        font-size: 0.8em;
                        white-space: nowrap;
                    }
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;

                    > * {
                        margin: 0 0.4em;
                        cursor: pointer;
                        color:#b1b1b1;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .centro-notifiche {
                    display: flex;
                    align-items: center;
                    background-color: #8edafc;
                    padding: 0.5em;

                    > * {
                        margin: 0 0.2em;
                    }

                    .centro-notifiche-icon {
                        background-color: #ffffff;
                        padding: 0.5em;
                        border-radius: 100%;
                        color: #8edafc;
                    }

                    .centro-notifiche-content {

                        .centro-notifiche-content-title {
                            font-size: 0.8em;
                            font-weight: bold;
                        }

                        .centro-notifiche-content-body {
                            font-size: 0.6em;
                            text-decoration: underline;
                            opacity: 0.6;
                            cursor: pointer;
                        }
                    }
                }

                .ricerca-utente {
                    display: flex;
                    padding: 0.5em;

                    .ricerca-utente-button {
                        display: flex;
                        align-items: center;
                        padding: 0.2em 1em;
                        background-color: #fff;
                        border: 0.1em solid #eaeaea;
                        color: #b6b9bb;
                        border-right: none;
                        cursor: pointer;
                    }

                    .ricerca-utente-input {
                        display: flex;
                        align-items: center;
                        flex-grow: 1;
                        border: 0.1em solid #eaeaea;

                        input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            font-size: 0.8em;
                            padding: 0.2em;
                        }
                    }
                }

                .lista-utenti {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: hidden;
                    background-color: #fff;
                    
                    .utenti {
                        flex-grow: 1;
                        overflow-y: auto;
                        overflow-x: hidden;
                        
                        .utente {
                            display: flex;
                            align-items: center;
                            padding: 0.5em;
                            cursor: pointer;

                            &.active {
                                background-color: #e9ebeb;
                            }

                            > * {
                                margin: 0 0.5em;
                            }

                            .avatar {
                                flex-shrink: 0;
                                width: 2.5em;
                                height: 2.5em;
                                overflow: hidden;
                                border-radius: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }

                            .name {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }

        .main {
            flex-grow: 1;

            .topbar {
                display: flex;
                align-items: center;

                > * {
                    padding: 0.2em 0.4em;
                }

                .user {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;

                    > * {
                        margin: 0 0.2em;
                    }

                    .avatar {
                        flex-shrink: 0;
                        width: 2.5em;
                        height: 2.5em;
                        overflow: hidden;
                        border-radius: 100%;
                        margin: 0.25em;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .content {

                        .name {
                            font-size: 0.8em;
                            white-space: nowrap;
                        }

                        .last-see {
                            font-size: 0.6em;
                            opacity: 0.6;
                            white-space: nowrap;
                        }
                    }
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;

                    > * {
                        margin: 0 0.4em;
                        cursor: pointer;
                        color:#b1b1b1;
                    }
                }
            }

            > .content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                background-image: url("../images/mine.jpg");
                background-attachment: fixed;
                background-repeat: repeat;
                background-position: center;

                .push {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: 0.5em 1em;
                    border-radius: 0.5em;

                    &.received {
                        align-self: flex-start;
                        background-color: #fff;
                    }

                    &.sent {
                        align-self: flex-end;
                        background-color: #d5f9ba;
                    }

                    > * {
                        margin: 0.5em 1em;
                    }

                    .text {
                        font-size: 0.7em;
                    }

                    .at {
                        align-self: flex-end;
                        font-size: 0.6em;
                        opacity: 0.4;
                        margin-left: 10em;

                        &.seen {
                            color: #328de7;
                            opacity: 1;
                        }
                    }

                    .messageMenu {
                        position: absolute;
                        background-color: #fff;
                        top: 1em;
                        right: -1em;
                        z-index: 2;
                        white-space: nowrap;


                        > ul {
                            list-style: none;
                            font-size: 0.8em;
                            border: 0.1em solid #e9ebeb;

                            li {
                                display: flex;
                                justify-content: center;
                                padding: 0.5em 1em;
                                cursor: pointer;

                                &:not(:last-child) {
                                    border-bottom: 0.1em solid #e9ebeb;
                                }
                            }
                        }
                    }
                }
            }

            .bottombar {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em;
                background-color: #f3eeea;
                display: flex;

                > * {
                    margin: 0 0.5em;
                    cursor: pointer;
                }

                i {
                    color: #595f62;
                    font-size: 1.2em;
                }

                input {
                    flex-grow: 1;
                    padding: 0.4em;
                    border: none;
                    cursor: auto;
                }
            }
        }
    }
}

#root.dark{
    background-image: linear-gradient(to bottom, hsl(174, 100%, 9%) 0px 5em, hsl(108, 6%, 25%) 0px 100%);
    color: #fff;

    .container {
        background-color: hsl(0, 0%, 28%);

        .sidebar, .main {
            
            .topbar {
                background-color: hsl(0, 0%, 22%);
            }
        }

        .sidebar {

            .topbar {
                border-right: 0.1em solid hsl(0, 0%, 26%);

                .actions {
                    
                    > * {
                        color:#fff;
                    }
                }
            }

            .content {

                .centro-notifiche {
                    background-color: hsl(199, 95%, 27%);

                    .centro-notifiche-icon {
                        color: hsl(199, 95%, 27%);
                    }

                    .centro-notifiche-content {

                        .centro-notifiche-content-body {
                            opacity: 1;
                        }
                    }
                }

                .ricerca-utente {

                    .ricerca-utente-button {
                        background-color: hsl(0, 0%, 20%);
                        border: 0.1em solid hsl(0, 0%, 22%);
                        color: #fff;
                    }

                    .ricerca-utente-input {
                        border: 0.1em solid hsl(0, 0%, 22%);
                        
                        input {
                            background-color: hsl(0, 0%, 20%);
                            color: #fff;
                        }
                    }
                }

                .lista-utenti {
                    background-color: hsl(0, 0%, 20%);

                    .utenti {

                        .utente {

                            &.active {
                                background-color: hsl(180, 5%, 22%);
                            }
                        }
                    }
                }
            }
        }

        .main {

            > .content {
                background-color: hsl(0, 0%, 40%);
                background-blend-mode: multiply;

                .push {

                    &.received {
                        background-color: hsl(0, 0%, 20%);
                    }

                    &.sent {
                        background-color: hsl(94, 4%, 25%);
                    }
                }
            }

            .bottombar {
                background-color: hsl(27, 27%, 4%);

                i {
                    color: #fff;
                }

                input {
                    background-color: hsl(0, 0%, 20%);
                    color: #fff;
                }
            }
        }
    }
    
}

@media screen and (max-width: 576px) {
    #root {

        .container {

            .sidebar {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #root {

        .container {

            .sidebar {
                
                .topbar {

                    .user {

                        .avatar {
                            margin: 0.25em 0;
                        }
    
                        .name {
                            display: none;
                        }
                    }

                    .actions {
                        display: none;
                    }
                }

                .content {
                    
                    .centro-notifiche {
                        display: none;
                    }

                    .ricerca-utente {
                        display: none;
                    }

                    .lista-utenti {

                        .utenti {

                            .utente {
                                padding: 0.5em 0;

                                .name {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    #root {
        padding: 0;

        .container {
            width: 100%;
            height: 100%;
        }
    }
}