<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>

<body>

    <div id="root" :class="{dark : darkMode}">
        <div class="container">
            <div class="sidebar" :class="{show : showMenu}">
                <div class="topbar">
                    <div class="user">
                        <div class="avatar">
                            <img src="images/avatar_io.jpg" alt="Io">
                        </div>
                        <div class="name">
                            Giada Napoletano
                        </div>
                    </div>
                    <div class="actions">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v" @click="toggleDarkMode"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="centro-notifiche">
                        <div class="centro-notifiche-icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="centro-notifiche-content">
                            <div class="centro-notifiche-content-title">Ricevi notifiche di nuovi messaggi</div>
                            <div class="centro-notifiche-content-body">Attiva notifiche desktop</div>
                        </div>
                    </div>
                    <div class="ricerca-utente">
                        <div class="ricerca-utente-button">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="ricerca-utente-input">
                            <input type="text" v-model="searchInput" @input="filterUsers"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class="lista-utenti">
                        <ul class="utenti">
                            <template v-for="(contact, index) in contacts">
                                <li v-if="contact.visible" class="utente" :class="{active: isCurrentContact(index)}"
                                    @click="currentContact = index; showMenu = !showMenu; showMessageMenu.status = false; autoScrollMessage();">
                                    <div class="avatar">
                                        <img :src="`images/avatar${contact.avatar}.jpg`" alt="Avatar">
                                    </div>
                                    <div class="name">{{contact.name}}</div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="topbar">
                    <div class="user">
                        <div class="avatar">
                            <img :src="`images/avatar${contacts[currentContact].avatar}.jpg`" alt="Avatar">
                        </div>
                        <div class="content">
                            <div class="name">
                                {{contacts[currentContact].name}}
                            </div>
                            <div class="last-see">
                                {{
                                contacts[currentContact].lastSee =='Online' ?
                                contacts[currentContact].lastSee :
                                'Ultimo accesso: ' + contacts[currentContact].lastSee
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <i class="fas fa-search" @click="showMenu = !showMenu"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v" @click="toggleDarkMode"></i>
                    </div>
                </div>
                <div id="chat" class="content">
                    <div v-for="(message, index) in contacts[currentContact].messages"
                        :key="`${currentContact} ${index}`" class="push" :class="getMessageStatus(message)"
                        @click="openMenu(index)">
                        <div class="text">
                            {{message.message}}
                        </div>
                        <div v-if="getMessageStatus(message) == 'sent'" class="at" :class="{seen : message.seen}">
                            <i class="fas fa-check-double"></i>
                        </div>
                        <div v-if="showMessageMenu.status && showMessageMenu.index == index" class="messageMenu">
                            <ul>
                                <li>
                                    Info Messaggio
                                </li>
                                <li @click="deleteMessage(index)">
                                    Elimina messaggio
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" bottombar">
                    <i class="far fa-smile"></i>
                    <input type="text" v-model="currentMessage" placeholder="Scrivi un messaggio..."
                        @keyup.enter="sendMessage">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/vue.js"></script>
</body>

</html>